*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Font families
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
*/

/* ---------------HEADER--------------- */
header {
  background-color: #3C0000;
  height: 80px;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo-header {
  height: 60px;
}

.btn-hamburguer {
  background: none;
  border: none;
  margin-right: 1rem;
}

.btn-hamburguer i {
  font-size: 2rem;
  color: #fff;
}

.nav-hamburguer {
  display: none;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  background-color: #3C0000;
  animation: nav-hamburguer-out .5s 1;
}

@keyframes nav-hamburguer-in {
  0% {
    opacity: 0%;
    right: -100%
  }
  100% {
    opacity: 100%;
  }
}

@keyframes nav-hamburguer-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    right: -100%
  }
}

.nav-hamb-close {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.fa-xmark {
  color: #fff;
  font-size: 2rem;
}

.nav-hamburguer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-hamb-li {
  list-style: none;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.nav-hamb-li a {
  text-decoration: none;
  color: #fff;
}

.nav-extenso {
  display: none;
}

/* ---------------CARROSSEL--------------- */
.carrossel-container {
  height: 400px;
  width: 100%;
  position: relative;
}

.carrossel-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: all 0.3;
}

.carr-item-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, .25);
}

.carrossel-item h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, .75);
}

.carrossel-item h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, .75);
  text-align: center;
}

.carrossel-item button {
  background: rgb(0, 0, 0, .3);
  padding: 1rem;
  border: solid 2px #334E58;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  transition: all 0.2s;
}

.carrossel-item button:hover {
  background: rgb(0, 0, 0, .6);
  cursor: pointer;
}

#carr-item01, #carr-item02, #carr-item03, #carr-item04, #carr-item05 {
  z-index: -1;
}

#carr-item02, #carr-item03, #carr-item04, #carr-item05 {
  display: none;
}

@keyframes carrossel-fade-in {
  0% {
    opacity: 0%
  }
  100% {
    opacity: 100%;
  }
}

@keyframes carrossel-fade-out {
  0% {
    opacity: 100%
  }
  100% {
    opacity: 0%;
  }
}

.carrossel-btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 24px;
}

.carrossel-btn-container li {
  list-style-type: none;
}

.carrossel-btn-container button {
  width: clamp(40px, 8vw, 100px);
  height: 8px;
  margin: 0 4px;
  border: none;
  background-color: rgba(255,255,255,.3);
  transition: background-color 1s;
}

.carrossel-btn-container .btn-ativo {
  background-color: rgba(255,255,255,.8);
}

/* ---------------SOBRE NÓS--------------- */
.sobre-nos-container {
  padding: 2rem 1rem;
  font-family: 'Lato', sans-serif;
  color: #334E58;
}

.sobre-nos-container h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

.sobre-nos-texto {
  margin: 1rem 0;
  max-height: 60px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.sobre-nos-texto-ativo {
  max-height: 200px;
}

.sobre-nos-container button {
  width: 200px;
  height: 48px;
  border: none;
  background-color: #334E58;
  color: #D2D7Df;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.sobre-nos-container button:hover {
  background-color: #10262e;
  cursor: pointer;
}

/* ---------------TABELA--------------- */
.tabela-container {
  margin: 1rem;
  border: solid 1px #334E58;
}

#btn-tabela-container {
  display: flex;
  flex-direction: column;
}

.btn-tabela {
  border: none;
  padding: 8px;
  background-color: #334E58;
  color: #D2D7Df;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-tabela-ativo {
  background-color: #fff;
  color: #334E58;
}

.tabela-info {
  display: none;
  padding: 1rem;
  color: #334E58;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.tabela-info-ativa {
  display: block;
}

.tabela-ul {
  display: none;
  padding: 1rem;
  padding-top: 0;
  margin-left: 1.5rem;
  color: #334E58;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.tabela-ul-ativa {
  display: block;
}

/* -------------COMENTÁRIOS------------- */

/* ------------TEXTO GENÉRICO------------ */

/* ---------------PORTFÓLIO--------------- */

/* ---------------MAPS--------------- */

/* ---------------FOOTER--------------- */

/* ---------------HEADER--------------- */
